<h2>Impersonation Tests</h2>
<h3>WebApp user</h3>
System.Security.Principal.WindowsIdentity.GetCurrent().Name : @System.Security.Principal.WindowsIdentity.GetCurrent().Name
<br />
User.Identity.Name : @User.Identity.Name
<br />
ViewData["Name"] : @ViewData["Name"]
<br />
<h3>SQL user</h3>
@{
    var l = ((List<WebApplicationNet462.Controllers.HomeController.SqlTestResult>)ViewData["List"])
        .Select(x => $"<br/>{x.Function} : {x.Username}")
        .Aggregate((a, b) => $"{a}\n{b}");
}
@Html.Raw(l);